gradio==4.25.0
gradio-client<=1.6.0
pillow>=9.0
langgraph
typing-extensions
langchain-google-genai
chromadb
sentence-transformers
PyPDF2
pymupdf
langchain-text-splitters
pandas
pydantic==2.10.6
